{{ define "template.html" }}

{{ range .Templates }}
<table class="min-w-1/3 border border-gray-300 rounded-lg overflow-hidden shadow-md">
  <thead class="bg-gray-100 text-gray-700 uppercase text-sm ">
    <tr>
      <th class="px-5 py-0 text-left border-b w-32">Template ID</th>
      <th class="px-5 py-0 text-left border-b w-48">Name</th>
      <th class="px-5 py-0 text-left border-b w-48">Columns</th>
      <th class="px-5 py-0 text-left border-b w-48">Descriptions</th>
      <th class="px-5 py-0 text-left border-b w-48">Browser Tab Description Schema</th>
      <th class="px-5 py-0 text-left border-b w-48">PDF Name Schema</th>
      <th class="px-2 py-0 text-left border-b w-8"></th>
      <th class="px-2 py-0 text-left border-b w-8"></th>
    </tr>
  </thead>
  <tbody class="divide-y bg-gray-200">
    <tr class="">
      <td class="px-5 py-2 border-b">{{ .Id }}</td>
      <td class="px-5 py-2 border-b">{{ .Name }}</td>
      <td class="px-5 py-2 border-b">{{ .Columns }}</td>
      <td class="px-5 py-2 border-b">{{ .Description }}</td>
      <td class="px-5 py-2 border-b">{{ .Tab_Schema }}</td>
      <td class="px-5 py-2 border-b">{{ .PDF_Schema }}</td>
      <td class="px-2 py-2 border-b">
        <a
          hx-post="/checklist/delete/" 
          class="w-full md:w-auto px-4 py-2 text-xs text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-semibold rounded-lg shadow-md transition duration-200">
          Delete
        </a>
      </td>
      <td class="px-2 py-2 border-b">
        <a
          href="/upload/download/" 
          target="_blank"
          class="w-full md:w-auto px-4 py-2 text-xs text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-semibold rounded-lg shadow-md transition duration-200">
          Download
        </a>
      </td>
    </tr>
  </tbody>
</table>
<br>
{{ end }}

{{ end }}
