{{ define "template.html" }}

<table class="table-fixed border border-gray-300 rounded-lg overflow-hidden shadow-md">
  <thead class="bg-gray-100 text-gray-700 uppercase text-xs">
    <tr>
      <th class="px-2 py-1 text-left border-b w-[100px]">Name</th>
      <th class="px-2 py-1 text-left border-b w-[250px]">Columns</th>
      <th class="px-2 py-1 text-left border-b w-[250px]">Descriptions</th>
      <th class="px-2 py-1 text-left border-b w-[250px]">Browser Tab Description Schema</th>
      <th class="px-2 py-1 text-left border-b w-[250px]">PDF Name Schema</th>
      <th class="px-2 py-1 text-left border-b w-8"></th>
      <th class="px-2 py-1 text-left border-b w-8"></th>
      <th class="px-2 py-1 text-left border-b w-8"></th>
    </tr>
  </thead>
{{ range .Templates }}
  <tbody class="divide-y bg-gray-200">
    <tr class="">
      <td class="px-2 py-1 border-b">{{ .Name }}</td>
      <td class="px-2 py-1 border-b">{{ .Columns }}</td>
      <td class="px-2 py-1 border-b">{{ .Description }}</td>
      <td class="px-2 py-1 border-b">{{ .Tab_Schema }}</td>
      <td class="px-2 py-1 border-b">{{ .PDF_Schema }}</td>
      <!---Delete---->
      <td class="px-2 py-2 border-b">
        <a
          hx-post="/checklist/delete/"
          hx-confirm="Do you really want to delete this checklist? All entry will be deleted."
          hx-swap="none"
          aria-label="Delete"
          class="w-full md:w-auto px-2 py-2 text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-semibold rounded-lg shadow-md transition duration-200 flex items-center justify-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
          Delete
        </a>
      </td>
      <!---Download---->
      <td class="px-2 py-2 border-b">
      <a
        href="/checklist/download/{{ .Id }}"
        target="_blank"
        aria-label="Download"
        class="w-full md:w-auto px-2 py-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-semibold rounded-lg shadow-md transition duration-200 flex items-center justify-center"
      >
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
        Download
      </a>
      </td>
      <!---Update------>
      <td class="px-2 py-2 border-b">
        <div class="relative inline-block">
        <label for="yaml-update" class="cursor-pointer inline-flex items-center px-4 py-2 bg-indigo-600 text-white text-sm font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-4 focus:ring-indigo-300 transition duration-200">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-5 h-5 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 16.5v-9m0 0L8.25 10.5m3.75-3.75L15.75 10.5M3 21h18" />
          </svg>
          Update
        </label>
          <input
            hx-post="/checklist/update"
            hx-encoding="multipart/form-data"
            id="yaml-update"
            name="yaml"
            type="file"
            class="hidden"
            hx-post="/upload"
            hx-trigger="change"
            hx-encoding="multipart/form-data"
          />
        </div>
      </td>
    </tr>
  </tbody>
{{ end }}
</table>

{{ end }}
