<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-5">

  <nav id="navbar" class="flex mb-5">
    {{ template "nav.html" . }}
  </nav>

  <form action="/upload" method="POST" enctype="multipart/form-data" class="p-4 mb-4 max-w-150 bg-gray-200">

    <p>Upload a new checklist written in YAML.</p>

    <br>

    <div class="flex flex-col items-center justify-center w-full space-y-4">
      <div class="flex items-center justify-center w-full">
        <label for="dropzone-file" class="flex flex-col
          items-center justify-center w-full h-32 border-2 border-gray-300
          border-dashed rounded-lg cursor-pointer bg-gray-200 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <!-- Upload icon -->
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5-5m0 0l5 5m-5-5v12" />
                </svg>
                <!-- Text that changes -->
                <p id="upload-text" class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Read to upload</span> or drag and drop
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">YAML (MAX. 1MB)</p>
            </div>
            <input id="dropzone-file" name="yaml" type="file" class="hidden" required />
        </label>
      </div>
    </div>

    <script>
    const fileInput = document.getElementById('dropzone-file');
    const uploadText = document.getElementById('upload-text');

    fileInput.addEventListener('change', function () {
      if (fileInput.files.length > 0) {
        const fileName = fileInput.files[0].name;
        uploadText.innerHTML = `<span class="font-semibold">${fileName}</span>`;
      } else {
        uploadText.innerHTML = `<span class="font-semibold">Read to upload</span> or drag and drop`;
      }
    });
    </script>

    <br>
    <br>

    <button class="mr-4 mb-4 px-10 py-3 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-semibold rounded relative float-right" type="submit">Submit</button>

    <br>
    <br>

  </form>

  {{ template "template.html" . }}

</body>
</html>
