<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-5">

  <nav id="navbar" class="flex mb-5">
    {{ template "nav.html" . }}
  </nav>
    
  <div id="entries">
    {{ template "entries.html" . }}
  </div>

</body>
</html>
