{{ define "entries.html" }}
 {{ range .Entries }}
    <table class="border border-gray-300 rounded-lg overflow-hidden shadow-md mb-3">
      <thead class="bg-gray-100 text-gray-700 uppercase text-xs ">
        <tr>
          {{ range .Data }}
          <th class="px-2 py-0 text-left border-b w-[140px]">{{ .Desc }}</th>
          {{ end }}
          <th class="px-2 text-left border-b"></th>
        </tr>
      </thead>
      <tbody class="divide-y bg-gray-200">
        <tr class="text-sm">
          {{ range .Data }}
          <td class="px-2 py-1 border-b w-[140px] break-words whitespace-normal">{{ .Value }}</td>
          {{ end }}
          <td class="border-b h-2">
            <div class="flex h-full justify-center align-middle items-center">
              <button hx-post="/delete" 
                hx-vals='{"path": "{{ .Path }}"}'
                hx-swap="none"
                class="text-white text-xs p-1 w-[75px] h-[28px] 
                cursor-pointer
                bg-red-500 hover:bg-red-700 
                focus:ring-4 focus:ring-red-300 
                font-semibold rounded-lg shadow-md transition duration-200">
                Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  {{ end }}
{{ end }}
