<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script src="/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-5">

<script>
function loadEntries() {
  htmx.ajax('GET', '/entries', { 
    target: '#entries',
    swap: 'innerHTML',
    values: {
      template: document.querySelector('[name="template"]').value
    }
  });
}
</script>

  <nav id="navbar" class="flex mb-5">
    {{ template "nav.html" . }}
  </nav>

  <div class="p-4 mb-4 max-w-100 bg-gray-200">
    <select id="templates" name="template" class="w-full" 
      hx-get="/options" 
      hx-trigger="change" 
      hx-target="#prompt"
      hx-on-htmx-before-on-load="loadEntries()">
      {{ range .Templates }}
      <option value="{{ .Name }}" {{ if eq .Name $.Active }}selected{{ end }}>{{ .Name }}</option>
      {{ end }}
    </select>
  </div>

  <form id="prompt"
        class="p-4 mb-4 max-w-100 bg-gray-200" 
        hx-post="/new" 
        hx-trigger="submit"
        hx-include="[name='template']"
        hx-swap="none"
        hx-on-htmx-before-on-load="loadEntries()">
    {{ template "options.html" . }}
  </form>
  
  <div id="entries">
    {{ template "entries.html" . }}
  </div>

</body>
</html>
