<!DOCTYPE html>
<html lang="de" data-kern-theme="light">
<head>
  {{ template "header.html" . }}
  <title>Neuen Eintrag erstellen</title>
</head>
<body class="bg-slate-300 p-5">

<script>
function loadEntries() {
  const selected = document.querySelector('input[name="template"]:checked');
  if (!selected) return; // Failsafe if nothing is selected

  htmx.ajax('GET', '/entries', { 
    target: '#entries',
    swap: 'innerHTML',
    values: {
      template: selected.value
    }
  });
}
</script>

  <nav id="navbar" class="flex mb-5">
    {{ template "nav.html" . }}
  </nav>

  <div class="p-4 mb-4 max-w-120 bg-gray-200">
    {{ range .Templates }}
    <label class="block">
      <input type="radio"
             name="template"
             value="{{ .Name }}"
             {{ if eq .Name $.Active }}checked{{ end }}
             hx-get="/options"
             hx-trigger="change"
             hx-target="#prompt"
             hx-on-htmx-before-on-load="loadEntries()">
      {{ .Name }}
    </label>
    {{ end }}
  </div>

  <form id="prompt"
        class="max-w-120" 
        hx-post="/new" 
        hx-trigger="submit"
        hx-include="[name='template']"
        hx-target="#user_msg"
        hx-on-htmx-before-on-load="loadEntries()">
    {{ template "options.html" . }}
  </form>

  <hr class="kern-divider" aria-hidden="true" />

  <div id="user_msg" class="hidden p-4 mb-4 max-w-120 bg-gray-200"></div>
  <script>
    const msg = document.getElementById('user_msg')
    const observer = new MutationObserver(() =>{
      msg.classList.remove('hidden');
      msg.classList.add('opacity-100');
      msg.classList.remove('opacity-0');
    })
    observer.observe(msg, {
      childList: true,
      subtree: true,
      characterData: true
    });
  </script>
  
  <div id="entries">
    {{ template "entries.html" . }}
  </div>

</body>
</html>
