{{ define "options.html" }}

<fieldset class="kern-fieldset">
<legend class="kern-label kern-label--large">
  Angaben
</legend>
<div class="kern-fieldset__body">
  {{ range .Inputs }}
  <div class="kern-form-input">
    <label class="kern-label" for="{{ .Key }}">{{ .Desc }}</label>
    <input class="kern-form-input__input" id="{{ .Key }}" name="{{ .Key }}" type="text">
  </div>
  {{ end }}
<div>
</fieldset>

<button class="kern-btn kern-btn--primary">
<span class="kern-label">Erstellen</span>
<span class="kern-icon kern-icon--arrow-forward" aria-hidden="true"></span>
</button>

{{ end }}
