<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/checklist/static/style.css" rel="stylesheet">
  <script src="/checklist/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-10">

    {{ range .Entries }}
    <table class="border border-gray-300 rounded-lg overflow-hidden shadow-md">
      <thead class="bg-gray-100 text-gray-700 uppercase text-sm ">
        <tr>
          <th class="px-2 py-0 text-left border-b">IMEI</th>
          <th class="px-2 py-0 text-left border-b w-32">ITA</th>
          <th class="px-2 py-0 text-left border-b w-32">Name</th>
          <th class="px-2 py-0 text-left border-b w-32">Ticket Number</th>
          <th class="px-2 py-0 text-left border-b w-16">Model</th>
          <th class="px-2 py-0 text-left border-b w-16"></th>
        </tr>
      </thead>
      <tbody class="divide-y bg-gray-200">
        <tr>
          <td class="border-b px-1"><input value="{{ .IMEI }}"></td>
          <td class="border-b px-1"><input value="{{ .ITA }}"></td>
          <td class="border-b px-1"><input value="{{ .Name }}"></td>
          <td class="border-b px-1"><input value="{{ .Ticket }}"></td>
          <td class="border-b px-1"><input value="{{ .Model }}"></td>
          <td class="border-b px-1"><button hx-post="/checklist/delete_{{ .Path }}" hx-target="body" class="w-full md:w-auto px-4 py-2 text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-semibold rounded-lg shadow-md transition duration-200">Delete Entry</button></td>
        </tr>
      </tbody>
    </table>
      <br>

    {{ end }}

</body>
</html>
