<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="/static/htmx.min.js"></script>
  <link href="/static/style.css" rel="stylesheet">
  <title>Checklist-Tool</title>
</head>
<body>

  <table class="min-w-1/3 border border-gray-300 rounded-lg overflow-hidden shadow-md">
    <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
      <tr>
        <th class="px-6 py-3 text-left border-b">IMEI</th>
        <th class="px-6 py-3 text-left border-b">Name</th>
        <th class="px-6 py-3 text-left border-b">Ticket Number</th>
        <th class="px-6 py-3 text-left border-b">Model</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr class="hover:bg-gray-50">
        <td class="px-6 py-4 border-b">{{ .Info.IMEI }}</td>
        <td class="px-6 py-4 border-b">{{ .Info.Name }}</td>
        <td class="px-6 py-4 border-b">{{ .Info.Ticket }}</td>
        <td class="px-6 py-4 border-b">{{ .Info.Model }}</td>
      </tr>
    </tbody>
  </table>
  <br>


  {{ define "renderItems" }}
    <ul>
    {{ range . }}
        <li>
          <input class="w-4 h-4 text-blue-500 border-gray-300 rounded focus:ring focus:ring-blue-300"
            type="checkbox"
            hx-post="/checklist/update_{{ .IMEI }}"
            hx-trigger="change"
            name="checked"
            value="true"
            hx-vals='{"task": "{{ .Task }}"}'
            {{ if .Checked }}checked{{ end }}> {{ .Task }}

            {{ if .Children }}
                {{ template "renderItems" .Children }}
            {{ end }}
        </li>
    {{ end }}
    </ul>
  {{ end }}

  {{ template "renderItems" .Items }}

  <input 
    type="button"
    hx-post="/checklist/generate_{{ .Info.IMEI }}"
    hx-trigger="click"
    value="Export to pdf">

</body>
</html>

