<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body>
  
    <table>
      <thead>
          <tr>
              <th>IMEI</th>
              <th>Name</th>
              <th>Ticket Number</th>
              <th>Model</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ .Info.IMEI }}</td>
            <td>{{ .Info.Name }}</td>
            <td>{{ .Info.Ticket }}</td>
            <td>{{ .Info.Model }}</td>
          </tr>
      </tbody>
  </table>
  <br>


  {{ define "renderItems" }}
    <ul>
    {{ range . }}
        <li>
          <input type="checkbox"
            hx-post="/checklist/update_{{ .IMEI }}"
            hx-trigger="change"
            name="checked"
            value="true"
            hx-vals='{"task": "{{ .Task }}"}'
            {{ if .Checked }}checked{{ end }}> {{ .Task }}

            {{ if .Children }}
                {{ template "renderItems" .Children }}
            {{ end }}
        </li>
    {{ end }}
    </ul>
  {{ end }}

  {{ template "renderItems" .Items }}

  <input 
    type="button"
    hx-post="/checklist/generate_{{ .Info.IMEI }}"
    hx-trigger="click"
    value="Export to pdf">

</body>
</html>

