<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/checklist/static/style.css" rel="stylesheet">
  <script src="/checklist/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-5">

<script>
function loadNav(){
  htmx.ajax('GET', '/checklist/nav', { 
    target: '#navbar',
    swap: 'innerHTML',
    values: {
      template: document.querySelector('[name="template"]').value
    }
  });
}

</script>

  <nav id="navbar" class="flex mb-5">
  </nav>

  <div class="p-4 mb-4 max-w-100 bg-gray-200">
    <select id="templates" name="template" class="w-full" 
      hx-get="/checklist/delete/entries" 
      hx-trigger="load, change" 
      hx-target="#entries"
      hx-on-htmx-before-on-load="loadNav();">
      {{ range .Templates }}
      <option value="{{ .Name }}" {{ if eq .Name $.Active }}selected{{ end }}>{{ .Name }}</option>
      {{ end }}
    </select>
  </div>
    
  <div id="entries"></div>

</body>
</html>
