<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/checklist/static/style.css" rel="stylesheet">
  <script src="/checklist/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-5">
  <script>
  function loadEntries() {
    htmx.ajax('GET', '/checklist/entries', { 
      target: '#entries',
      swap: 'innerHTML',
      values: {
        template: document.querySelector('[name="template"]').value
      }
    });
  }
  </script>

  {{ template "nav.html" . }}

  <div class="p-4 mb-4 max-w-100 bg-gray-200">
    
    <select id="templates" name="template" class="w-full" 
      hx-get="/checklist/option" 
      hx-trigger="load, change" 
      hx-target="#prompt"
      hx-on-htmx-before-on-load="loadEntries()">
      {{ range .Templates }}
      <option value="{{ .Name }}">{{ .Name }}</option>
      {{ end }}
    </select>

  </div>

  <form id="prompt"
        class="p-4 mb-4 max-w-100 bg-gray-200" 
        hx-post="/checklist/new" 
        hx-trigger="submit" 
        hx-include="[name='template']">
  </form>
  
  <div id="entries"></div>

</body>
</html>
