
{{ if not .Inputs }}
  Nothing to show.
{{ else }}

{{ range .Inputs }}
<label for='{{ .Key }}'>{{ .Desc }}</label>
  <input class='border bg-white relative float-right focus:ring-blue-300'
  type='text' id='{{ .Key }}' name='{{ .Key }}' required>
  <br>
  <br>
{{ end }}


<button class="mr-8 mb-4 px-10 py-3
  text-white bg-blue-600 font-semibold
  rounded relative float-right
  hover:bg-blue-700 focus:ring-4
  focus:ring-blue-300" type="submit">Submit</button>
<br><br>
<div id="feedback"></div>

{{ end }}



