<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checklist-Tool</title>
</head>
<body>

  <h1>Abellio MDM Laufzettel</h1>

  <table>
    <thead>
      <tr>
        <th>IMEI</th>
        <th>Name</th>
        <th>Ticket Number</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ .Info.IMEI }}</td>
        <td>{{ .Info.Name }}</td>
        <td>{{ .Info.Ticket }}</td>
        <td>{{ .Info.Model }}</td>
      </tr>
    </tbody>
  </table>
  <br>


  {{ define "renderItems" }}
    <ul>
    {{ range . }}
        <li>
          <input {{ if .Checked }}checked{{ end }}> {{ .Task }}
            {{ if .Children }}
                {{ template "renderItems" .Children }}
            {{ end }}
        </li>
    {{ end }}
    </ul>
  {{ end }}

  {{ template "renderItems" .Items }}

</body>
</html>


