<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="/checklist/static/style.css" rel="stylesheet">
  <script src="/checklist/static/htmx.min.js"></script>
  <title>Checklist-Tool</title>
</head>
<body class="bg-slate-300 p-5">

  {{ template "nav.html" . }}

    {{ range .Entries }}
    <table class="min-w-1/3 border border-gray-300 rounded-lg overflow-hidden shadow-md">
      <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
        <tr>
          <th class="px-2 text-left border-b">IMEI</th>
          <th class="px-2 text-left border-b w-48">ITA</th>
          <th class="px-2 text-left border-b w-64">Name</th>
          <th class="px-2 text-left border-b w-32">Ticket Number</th>
          <th class="px-2 text-left border-b w-16">Model</th>
          <th class="px-2 text-left border-b w-24"></th>
        </tr>
      </thead>
      <tbody class="divide-y bg-gray-200">
        <tr>
          <td class="border-b px-1">{{ .IMEI }}</td>
          <td class="border-b px-1">{{ .ITA }}</td>
          <td class="border-b px-1">{{ .Name }}</td>
          <td class="border-b px-1">{{ .Ticket }}</td>
          <td class="border-b px-1">{{ .Model }}</td>
          <td class="border-b px-1"><button hx-post="/checklist/reset_{{ .Path }}" hx-target="body" class="w-full md:w-auto text-white bg-pink-500 hover:bg-pink-700 focus:ring-4 focus:ring-pink-300 font-semibold rounded-lg shadow-md transition duration-200">Reset Checklist</button></td>
        </tr>
      </tbody>
    </table>
      <br>

    {{ end }}

</body>
</html>
