 {{ range .Entries }}
    <a href="/checklist/{{ .Path }}" target="_blank" >
    <table class="border border-gray-300 rounded-lg overflow-hidden shadow-md mb-3">
      <thead class="bg-gray-100 text-gray-700 uppercase text-xs">
        <tr>
          {{ range .Data }}
          <th class="px-2 py-0 text-left border-b w-[140px]">{{ .Desc }}</th>
          {{ end }}
          <th class="px-2 py-0 text-left border-b">Erstellungsdatum</th>
        </tr>
      </thead>
      <tbody class="divide-y bg-gray-200">
        <tr class="hover:bg-gray-100 text-sm">
          {{ range .Data }}
          <td class="px-2 py-1 border-b w-[140px] break-words whitespace-normal">{{ .Value }}</td>
          {{ end }}
          <td class="px-2 py-1 border-b">{{ .Date }}</td>
        </tr>
      </tbody>
    </table>
    </a>
{{ end }}
