{{ define "options.html" }}

{{ range .Inputs }}
<label for='{{ .Key }}'>{{ .Desc }}</label>
  <input class='border bg-white relative float-right focus:ring-blue-300'
  type='text' id='{{ .Key }}' name='{{ .Key }}' required>
  <br>
  <br>
{{ end }}


<!---Found the svg for the arrow forword in the kern ux project--->
<!---https://gitlab.opencode.de/kern-ux/kern-ux-plain/-/blob/main/src/scss/core/utilities/_icons.scss#L20--->
<button class="px-5 py-3 text-base
  text-white bg-blue-600 font-semibold
  rounded
  hover:bg-blue-700 focus:ring-4
  focus:ring-blue-300
  inline-flex items-center gap-2"
  type="submit">Erstellen <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M647-440H200q-17 0-28.5-11.5T160-480q0-17 11.5-28.5T200-520h447L451-716q-12-12-11.5-28t12.5-28q12-11 28-11.5t28 11.5l264 264q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L508-188q-11 11-27.5 11T452-188q-12-12-12-28.5t12-28.5l195-195Z"/></svg></span></button>
<br><br>
<div id="feedback"></div>

{{ end }}
